/*
* Natalie Onesi	
* 13 April 2018 
* Remastered Metadata with CSS 
*/


/* The universal selector */

* {
	margin: 2px 5px 
}


body {
	background-color: #B75858; 
	font-family: cursive, arial;
	font-size: 87.5%
}

h1 {
	font-style: italic;
	font-size: 400%;
	text-align: center;
	text-decoration: underline;
 }
 
 .figure1 {
 float: left; 
 }
 
 .figure2 {
clear: left 
}

p { 
	color: black
}
