/*
* Natalie Onesi	
* 13 April 2018 
* Remastered Metadata with CSS 
*/


/* The universal selector */

* {
	margin: 2px 5px; 
}


body {
	/* hex code for body background */
	background-color: #BDA1D9;  
	font-family: cursive, arial;
	font-size: 87.5%;
}

h1 {
	font-style: italic;
	font-size: 400%;
	text-align: center;
	text-decoration: underline;
	background-color: #FDFBB9;
 }
 
 .figure1 {
 float: left; 
 }
 
 .figure2 {
clear: left; 
}

p { 
	background-color: white;
	color: #BDA1D9;
}

h2 {
	background-color: #FDFBB9;
	font-size: 300%;
	text-align: center;
	text-decoration: underline;
}

figcaption {
	background-color: #FDFBB9;
}
